
.box {
	display: flex;
    flex-flow: column; nowrap;
    flex-direction:column;
}
.box-1 {
	display: flex;
    flex-flow: row; nowrap;
    flex-direction:row;
}

.one {
        flex: 33.3%;
      }
.two {
        flex: 33.3%;
      }
.three {
        flex: 33.3%;
      }

.box-left {
	position: absolute;
	left:  0px;
	width: 46%;
	padding: 2%;
}

.box-right {
	position: absolute;
	left: 50%;
	width:  46%;
	padding:  2%;
}

#lower {
	color: black;
}

h1 {
	text-align:center; 
	font-family:sans-serif;
	color: whitesmoke;
}
p {
	font-family: sans-serif;
	color: whitesmoke;
}

h2{
	text-align:center;
	font-family:sans-serif;
	color: whitesmoke;
}



<style>
body {
  background-image: url('file:///Users/laithhaddadin/Desktop/download-2.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
}
</style>